@import '../../assets/_colors';

.body {
  width: 73em;
  position: relative;
  top: -2.6em;

  .checkbox-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

    .checkbox {
      background-color: rgba(25, 32, 45, 0.1);
      border-radius: 3px;
      height: 1.6em;
      min-width: 1.6em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &.checked {
        background-color: $primary-color;
      }

      input {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    span {
      text-transform: capitalize;
      font-weight: 700;
    }
  }

  .heading {
    background-color: white;
    height: 5em;
    width: 100%;
    border-radius: 6px;
    display: flex;

    & > div {
      height: 100%;
      display: flex;
      align-items: center;
      flex: 1;
      padding: 0 2em;

      .filter,
      .search-icon-mobile {
        display: none;
        margin-left: 2em;
      }

      .search-icon-mobile {
        background-color: $primary-color;
        border: 0;
        border-radius: 5px;
        padding: 1em;
      }

      &:first-child {
        min-width: 40.191%;
      }

      &:nth-child(2) {
        border-left: $border-line;
        border-right: $border-line;
      }

      input[type='text'] {
        margin-left: 1em;
        height: 50%;
        outline: none !important;
        border: 0;
        flex: 1;
        font-size: 16px;
        caret-color: $primary-color;
        background-color: transparent;

        &::placeholder {
          color: rgba(25, 32, 45, 0.5);
        }
      }
    }
  }

  .main {
    top: 7em;
    position: relative;

    .load-more {
      margin: 4em 0;
    }
  }

  .modal-overlay {
    position: fixed;
    z-index: 100;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;

    &.visible {
      display: none;
    }

    .modal {
      background-color: white;
      width: 90vw;
      border-radius: 6px;

      & > div {
        &:last-child {
          padding: 0 1em;
        }
      }

      .filter-cont {
        padding: 2em 1em;
        display: flex;
        align-items: center;
        border-bottom: $border-line;
        margin-bottom: 1em;

        input {
          outline: none !important;
          border: 0;
          flex: 1;
          font-size: 16px;
          caret-color: $primary-color;
          margin-left: 1em;
        }
      }

      .checkbox-cont {
        justify-content: flex-start;
        padding: 0;
        margin: 2em 0;

        .checkbox {
          margin-right: 1em;
        }
      }

      button {
        width: 100%;
        margin-bottom: 2em;
      }
    }
  }
}

.dark {
  .body {
    .heading {
      background-color: $dark_theme_primary;

      .checkbox-cont {
        .checkbox {
          background-color: rgba(255, 255, 255, 0.1);

          &.checked {
            background-color: $primary-color;
          }
        }

        span {
          color: white;
        }
      }

      & > div {
        .filter {
          fill: white !important;
        }
        input[type='text'] {
          color: rgba(255, 255, 255, 1);

          &::placeholder {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }

    .modal-overlay {
      .modal {
        background-color: $dark_theme_primary;

        .filter-cont {
          input {
            color: white;
            background-color: transparent;

            &::placeholder {
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }

        .checkbox-cont {
          color: white;

          .checkbox {
            background-color: rgba(255, 255, 255, 0.1);

            &.checked {
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1234px) {
  .body {
    width: 90vw;
  }
}

@media only screen and (max-width: 1024px) {
  .body {
    .heading {
      & > div {
        padding: 0 1em;
        display: grid;
        grid-template-columns: auto auto auto;

        &:first-child {
          min-width: auto;
        }

        input[type='text'] {
          width: 80%;
        }
      }

      .checkbox-cont {
        span {
          width: 4.4em;
          white-space: nowrap;
          overflow: hidden;
        }

        button {
          padding: 1em;
        }
      }
    }

    .main {
      top: 4em;
    }
  }
}

@media only screen and (max-width: 780px) {
  .body {
    .heading {
      & > div {
        display: none;

        &:first-child {
          display: flex;
        }

        .filter,
        .search-icon-mobile {
          display: block;
        }

        .search-icon-desktop {
          display: none;
        }
      }

      .checkbox-cont {
        display: none;
      }
    }

    .modal-overlay {
      &.visible {
        display: flex;
      }
    }
  }
}
