@import '../../assets/_colors';

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-image {
    width: 100%;
  }

  .logo-cont {
    position: absolute;
    top: 2em;
    width: 80vw;
    display: flex;
    justify-content: space-between;

    .slider-cont {
      display: flex;
      align-items: center;

      .slider {
        background-color: white;
        height: 1.4em;
        width: 2.8em;
        border-radius: 10em;
        margin: 0 1em;
        position: relative;
        display: flex;
        align-items: center;

        .circle {
          height: 1em;
          width: 1em;
          background-color: $primary-color;
          position: absolute;
          border-radius: 10em;
        }

        &:hover {
          cursor: pointer;

          .circle {
            background-color: $light-purple;
          }
        }
      }
    }
  }
}
