@import '../../assets/_colors';

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  width: 100%;
  background: url('../../assets/images/bg-pattern-header.svg') no-repeat center
    center;
  background-size: 100% 100%;

  .logo-cont {
    position: absolute;
    top: 2em;
    width: 73em;
    display: flex;
    justify-content: space-between;

    .slider-cont {
      display: flex;
      align-items: center;

      .slider {
        background-color: white;
        height: 1.4em;
        width: 2.8em;
        border-radius: 10em;
        margin: 0 1em;
        position: relative;
        display: flex;
        align-items: center;

        .circle {
          height: 1em;
          width: 1em;
          background-color: $primary-color;
          position: absolute;
          border-radius: 10em;
        }

        &:hover {
          cursor: pointer;

          .circle {
            background-color: $light-purple;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1234px) {
  header {
    .logo-cont {
      width: 90vw;
    }
  }
}

@media only screen and (max-width: 780px) {
  header {
    background-size: cover;
  }
}
