$primary-color: rgba(89, 100, 224, 1);
$light-purple: rgba(147, 155, 244, 1);
$border-line: 1px solid rgba(110, 128, 152, 0.2);
$primary-text: rgba(110, 128, 152, 1);
$dark_theme_primary: rgba(25, 32, 45, 1);
$dark_theme_primary_text: rgba(157, 174, 194, 1);
